/* Copied from ~/git/dotzshrc/stylesheets/userContent.css via install.rb */
/* A custom stylesheet for Firefox. */
@media (prefers-color-scheme: light) {
    kbd, code {
        color: #145c33;
    }
    /* cite { */
    /*     text-shadow: 1px 1px 1px #ccc; */
    /* } */
}
@media (prefers-color-scheme: dark) {
    kbd, code {
        color: #00cd68;
    }
    /* cite { */
    /*     text-shadow: 1px 1px 1px #A00; */
    /* } */
}


/* Adding color to direct status messages */
.skin-default #mastodon .status.status-direct {
    background: #330000 !important;
}

.skin-mastodon-light #mastodon .status.status-direct {
    background: #f2b0a2 !important;
}

cite {
    font-weight: 500;
}
